.comment-item{
    padding: 10px 0 10px;
    min-height: 50px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.flex{
    display: flex;
    justify-content: left;
}
.comment-item .name{
    /*flex: 0 0 60px;*/
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    color: #00a3cf;
    padding-right: 4px;
}
.remove{
    text-align: right;
    color: #00a3cf;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}
.createdtime{
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 12px;
}